<header style="height:650px">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Favorite Source of Music, News, Photo, and Location Search</h1>
                <hr>
                <p>Pocketgram can not only offer you first-hand news and popular Instagram photos but also help you search for music on iTunes or a specific location on Google Maps</p>
                <a href="#services" target="_self" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

	
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Google Maps Integration</h3>
                        <p class="text-muted">Allow users to instantly lookup a city or country.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Trending news on NYTimes</h3>
                        <p class="text-muted">Easily Browse through trending news on New York Times.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Popular Instagram Photos</h3>
                        <p class="text-muted">Find out some of the popular Instagram photos at the moment.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Music Search on iTunes</h3>
                        <p class="text-muted">Search for and listen to music that you love on iTunes!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#/maps" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pocket I.
                                </div>
                                <div class="project-name">
                                    Find a city on Google Maps
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#/news" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pocket II.
                                </div>
                                <div class="project-name">
                                    See trending news on New York Times
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#/photo" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pocket III.
                                </div>
                                <div class="project-name">
                                    Discover popular photos on Instagram
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#/music" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pocket IV.
                                </div>
                                <div class="project-name">
                                    Listen to music on iTunes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
	
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Everything you need is in your Pocketgram!</h2>
<!-- 
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
 -->
            </div>
	   </div>
    </aside>